*{
    font-family: "Inter", sans-serif;
}
:root{
    --main-color-dark: #7c2d12;
    --main-color-light: #ea580c;
}
.text-main-light{color: var(--main-color-light);}
.text-main-dark{color: var(--main-color-dark);}
.bg-main-light{background-color: var(--main-color-light);}
.bg-main-dark{background-color: var(--main-color-dark);}


/* ------------------------------ Start Navbar ------------------------------ */
.navbar .navbar-brand i{
    width: 45px;
    height: 45px;
    background-image: linear-gradient(135deg, #E5550C, #CA450C);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.navbar .right-buttons a{
    color: black;
    transition: all 0.2s;
}
.navbar .right-buttons a:hover{
    color: var(--main-color-light);
}
.navbar .right-buttons button{
    border: none;
    background-image: linear-gradient(to right, var(--main-color-light), #C4420D);
    color: white;
}
.navbar .right-buttons button:hover{
    box-shadow: 0px 8px 10px rgba(234, 88, 12, 0.2);
}
.navbar .nav-link{transition: all 0.2s ease;}
.navbar .nav-link:hover{
    color: var(--main-color-light);
}

.navbar .nav-link.active {
    color: var(--main-color-light);
    position: relative;
}
@media screen and (min-width:992px) {
    .navbar .nav-link.active::after{
        content: "";
        width: 100%;
        height: 1.5px;
        background-color: var(--main-color-light);
        display: inline-block;
        position: absolute;
        left: 0px;
        bottom: 5px;
        
    }
}

.dropdown-toggle::after {
    display: inline-block;
    vertical-align: middle;
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    border: none;
    transition: all 0.2s;
}
.navbar .nav-link.show{
    color: var(--main-color-light);
}
.navbar .nav-link.show::after{
    transform: rotate(180deg);
}


/* dropdown menu */
.navbar .dropdown-menu{
    min-width: 70rem;
    transform: translate(-200px);
    border: none;
}
.navbar .dropdown-menu h3{
    font-size: 14px;
}
.navbar .dropdownMenu-item i{
    font-size: 14px;
    color: var(--main-color-light);
    width: 40px;
    height: 40px;
    background-color: #F9E6DC;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.navbar .dropdownMenu-item p{
    font-size: 14px;
}
.navbar .dropdownMenu-item:hover{
    background-color: #FCF6F3;
}
.navbar .dropdownMenu-item h4{
    transition: all 0.2s;
}
.navbar .dropdownMenu-item:hover h4{
    color: var(--main-color-light);
}
.navbar .dropdownMenu-item:hover i{
    transform: scale(1.1);
}

.navbar .need-help p, 
.navbar .need-help a, 
.navbar .need-help i{
    font-size: 14px;
}
.navbar .need-help a, 
.navbar .need-help i{
    color: var(--main-color-light);
    transition: all 0.2s;
}
.navbar .go-contact:hover a,
.navbar .go-contact:hover i{
    color: var(--main-color-dark);
}


.navbar .need-help{
    background-color: #FAEDE7;
    border: 1px solid #F9D0BB;
}
/* ------------------------------ End Navbar ------------------------------ */