*{
    font-family: "Inter", sans-serif;
}
:root{
    --main-color-dark: #7c2d12;
    --main-color-light: #ea580c;
}
.text-main-light{color: var(--main-color-light);}
.text-main-dark{color: var(--main-color-dark);}
.bg-main-light{background-color: var(--main-color-light);}
.bg-main-dark{background-color: var(--main-color-dark);}

section,footer{
    padding-block: 100px;
}




.para-w{
    max-width: 800px;
}



.header > span:first-child{
    background-color: #FCEEE6;
}
h2{
    font-size: 3rem;
    line-height: 3rem;
}
.header .second-span{
    background-image: linear-gradient(to right, #E9580C, #C2410C);
    background-clip: text;
    color: transparent;
}

/* ------------------------------ Start Navbar ------------------------------ */
.navbar .navbar-brand i{
    width: 45px;
    height: 45px;
    background-image: linear-gradient(135deg, #E5550C, #CA450C);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.navbar .right-buttons a{
    color: black;
    transition: all 0.2s;
}
.navbar .right-buttons a:hover{
    color: var(--main-color-light);
}
.navbar .right-buttons button{
    border: none;
    background-image: linear-gradient(to right, var(--main-color-light), #C4420D);
    color: white;
}
.navbar .right-buttons button:hover{
    box-shadow: 0px 8px 10px rgba(234, 88, 12, 0.2);
}
.navbar .nav-link{transition: all 0.2s ease;}
.navbar .nav-link:hover{
    color: var(--main-color-light);
}

.navbar .nav-link.active {
    color: var(--main-color-light);
    position: relative;
}
@media screen and (min-width:992px) {
    .navbar .nav-link.active::after{
        content: "";
        width: 100%;
        height: 1.5px;
        background-color: var(--main-color-light);
        display: inline-block;
        position: absolute;
        left: 0px;
        bottom: 5px;
        
    }
}

.dropdown-toggle::after {
    display: inline-block;
    vertical-align: middle;
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    border: none;
    transition: all 0.2s;
}
.navbar .nav-link.show{
    color: var(--main-color-light);
}
.navbar .nav-link.show::after{
    transform: rotate(180deg);
}


/* dropdown menu */
.navbar .dropdown-menu{
    min-width: 70rem;
    transform: translate(-200px);
    border: none;
}
@media screen and (max-width:991px) {
    .navbar .dropdown-menu{
        min-width: 20rem;
        transform: translate(0);
        height: 500px;
        overflow-y: scroll;
    }
}
.navbar .dropdown-menu h3{
    font-size: 14px;
}
.navbar .dropdownMenu-item i{
    font-size: 14px;
    color: var(--main-color-light);
    width: 40px;
    height: 40px;
    background-color: #F9E6DC;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.navbar .dropdownMenu-item p{
    font-size: 14px;
}
.navbar .dropdownMenu-item:hover{
    background-color: #FCF6F3;
}
.navbar .dropdownMenu-item h4{
    transition: all 0.2s;
}
.navbar .dropdownMenu-item:hover h4{
    color: var(--main-color-light);
}
.navbar .dropdownMenu-item:hover i{
    transform: scale(1.1);
}

.navbar .need-help p, 
.navbar .need-help a, 
.navbar .need-help i{
    font-size: 14px;
}
.navbar .need-help a, 
.navbar .need-help i{
    color: var(--main-color-light);
    transition: all 0.2s;
}
.navbar .go-contact:hover a,
.navbar .go-contact:hover i{
    color: var(--main-color-dark);
}


.navbar .need-help{
    background-color: #FAEDE7;
    border: 1px solid #F9D0BB;
}
/* ------------------------------ End Navbar ------------------------------ */



/* ------------------------------ Start Home Section ------------------------------ */
header{
    padding-top: 73px;
    background-image: linear-gradient(135deg,#FFF8EF 0%,white 50%,#FFF8EF 100%);
    /* height: 100vh; */
}

#home .hero-top-span{
    background-color: #FCEADC;
}
#home h1{
    font-size: 3.75rem;
    line-height: 4.75rem;
    font-weight: 900;
}
#home .header-title1{
    background-image: radial-gradient(circle at center, #E8570C, #7F2E12);
    background-clip: text;
    color: transparent;
}
#home .header-title2{
    color: #7C2D12;
}
#home .header-title3{
    background-image: linear-gradient(to right, #FB913B, #EA5A0E);
    background-clip: text;
    color: transparent;
}
#home .left p{
    font-size: 1.25rem;
    line-height: 2rem;
}

#home .left .btn1{
    padding: 16px 40px;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #E9570C, #C4420C);
    font-size: 1.25rem;
    transition: all 0.2s;
}
#home .left .btn1:hover{
    transform: translateY(-4px);
    box-shadow: 0px 6px 10px 4px rgb(255, 69, 0, 0.4);
}
#home .left .btn2{
    padding: 16px 40px;
    background-color: white;
    border: 2px solid #ccc;
    font-size: 1.25rem;
    transition: all 0.2s;
}
#home .left .btn2:hover{
    border-color: var(--main-color-light);
    color: var(--main-color-light);
}


#home .right .all-layering {
    position: relative;
    padding: 5px;
}

#home .right .background-layer {
    background-color: #F8DACA;
    position: absolute;
    inset: 0;
    z-index: 0;
    transform: rotate(3deg);
}

#home .right .img-holder {
    position: relative;
    z-index: 1;
}
#home .right i{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#home .right .fa-code{
    background-image: linear-gradient(135deg, #F98C38, #EB5C11);
    right: -60px;
    top: 20px;
}
#home .right .fa-mobile{
    background-image: linear-gradient(135deg, #C6440C, #E7560C);
}
@media screen and (min-width: 992px) {
    .all-layering{
        width: 100%;
    }
}
/* ------------------------------ End Home Section ------------------------------ */





/* ------------------------------ Start Services Section ------------------------------ */
#services .card div{
    font-size: 14px;
}
#services .card > i{
    font-size: 1.5rem;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#services .card > i.fa-code{background-image: linear-gradient(135deg, #E5550C, #C6440D);}
#services .card > i.fa-mobile{background-image: linear-gradient(135deg, #F98B37, #EC6015);}
#services .card > i.fa-cloud{background-image: linear-gradient(135deg, #CB4E15, #F48837);}
#services .card > i.fa-brain{background-image: linear-gradient(135deg,#DF510C 0%,#C3410C 50%,#F08333 100%);}
#services .card > i.fa-chart-line{background-image: linear-gradient(135deg, #F28535, #CA4C14);}
#services .card > i.fa-palette{background-image: linear-gradient(135deg, #C7440C, #e25b17);}

#services .card{
    transition: all 0.3s;
}
#services .card:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 10px 0px rgba(255, 69, 0, 0.1);
}
#services .card:hover i{
    transform: scale(1.1);
}
#services .card > span i{
    transition: all 0.3s;
}
#services .card:hover > span i{
    transform: translateX(4px);
}

/* ------------------------------ End Services Section ------------------------------ */




/* ------------------------------ Start Technology Section ------------------------------ */
#technology .nav-link{
    padding: 16px 32px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #4A5565;
    border-radius: 0px;
    transition: 0.1s all;
}
#technology .nav-link:hover{
    color: var(--main-color-light);
    border-bottom: 2px solid var(--main-color-light);
}
#technology .nav-pills .nav-link.active{
    background-color: transparent;
    color: var(--main-color-light);
    border-bottom: 2px solid var(--main-color-light);
}

#technology .card i{
    color: white;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    /* background-color: red; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#technology .card span{
    font-size: 12px;
    /* background-color: red; */
}

#technology .card {
    transition: all 0.3s ease;
}

#technology .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}



#technology .card{background-color: var(--card-bg);}
#technology .card i{background-color: var(--icon-bg);}
#technology .card .tags span{
    background-color: var(--span-bg);
    color: var(--span-text);
}

/* Frontend Cards */
.react-card {
    --card-bg: #E8F2FE;
    --icon-bg: #2B7FFF;
    --span-bg: #DBEAFE;
    --span-text: #193cb8;
}
.next-card {
    --card-bg: #F6F8F9;
    --icon-bg: #000000;
    --span-bg: #F3F4F6;
    --span-text: #000000;
}
.vue-card {
    --card-bg: #E4FCEC;
    --icon-bg: #00C950;
    --span-bg: #DBFCE7;
    --span-text: #016630;
}
.angular-card {
    --card-bg: #FFF1DF;
    --icon-bg: #FF6900;
    --span-bg: #FFEDD4;
    --span-text: #9f2d00;
}
.tailwind-card {
    --card-bg: #DFFCFF;
    --icon-bg: #00B8DB;
    --span-bg: #CEFAFE;
    --span-text: #005f78;
}
.vite-card {
    --card-bg: #F7EFFF;
    --icon-bg: #AD46FF;
    --span-bg: #F3E8FF;
    --span-text: #6e11b0;
}


/* Backend Cards */
.node-card {
    --card-bg: #E7FDEE;
    --icon-bg: #00A63E;
    --span-bg: #DBFCE7;
    --span-text: #016630;
}
.python-card {
    --card-bg: #E6F1FF;
    --icon-bg: #155DFC;
    --span-bg: #DBEAFE;
    --span-text: #193cb8;
}
.golang-card {
    --card-bg: #FFEAEA;
    --icon-bg: #E7000B;
    --span-bg: #FFE2E2;
    --span-text: #9f0712;
}
.java-card {
    --card-bg: #F7EFFF;
    --icon-bg: #9810FA;
    --span-bg: #F3E8FF;
    --span-text: #6e11b0;
}
.netcore-card {
    --card-bg: #E7ECFF;
    --icon-bg: #4F39F6;
    --span-bg: #E0E7FF;
    --span-text: #372aac;
}
.ruby-card {
    --card-bg: #E1FDF7;
    --icon-bg: #009689;
    --span-bg: #CBFBF1;
    --span-text: #005f5a;
}



/* Mobile Cards */
.react-native-card {
    --card-bg: #E5F0FF;
    --icon-bg: #2B7FFF;
    --span-bg: #DBEAFE;
    --span-text: #193cb8;
}
.flutter-card {
    --card-bg: #DBFBFE;
    --icon-bg: #00B8DB;
    --span-bg: #CEFAFE;
    --span-text: #005f78;
}
.ios-card {
    --card-bg: #F6F7F9;
    --icon-bg: #364153;
    --span-bg: #F3F4F6;
    --span-text: #1e2939;
}
.android-card {
    --card-bg: #EAFCF0;
    --icon-bg: #00A63E;
    --span-bg: #DBFCE7;
    --span-text: #016630;
}
.xamarin-card {
    --card-bg: #F8F1FF;
    --icon-bg: #9810FA;
    --span-bg: #F3E8FF;
    --span-text: #6e11b0;
}
.pwa-card {
    --card-bg: #FFF3E2;
    --icon-bg: #F54900;
    --span-bg: #FFEDD4;
    --span-text: #9f2d00;
}



/* Cloud & DevOps Cards */
.amazon-card {
    --card-bg: #FFF3E3;
    --icon-bg: #FF6900;
    --span-bg: #FFEDD4;
    --span-text: #9f2d00;
}
.microsoft-card {
    --card-bg: #E6F1FF;
    --icon-bg: #2B7FFF;
    --span-bg: #DBEAFE;
    --span-text: #9f2d00;
}
.google-card {
    --card-bg: #FFEAEA;
    --icon-bg: #FB2C36;
    --span-bg: #FFE2E2;
    --span-text: #9f0712;
}
.docker-card {
    --card-bg: #E6F0FF;
    --icon-bg: #2B7FFF;
    --span-bg: #DBEAFE;
    --span-text: #193cb8;
}
.kubernetes-card {
    --card-bg: #F7EEFF;
    --icon-bg: #9810FA;
    --span-bg: #DBEAFE;
    --span-text: #6e11b0;
}
.pipeline-card {
    --card-bg: #F7F8F9;
    --icon-bg: #364153;
    --span-bg: #F3F4F6;
    --span-text: #1e2939;
}



/* Database Cards */
.postgre-card {
    --card-bg: #E6F1FE;
    --icon-bg: #1447E6;
    --span-bg: #DBEAFE;
    --span-text: #193cb8;
}
.mongo-card {
    --card-bg: #E8FCEE;
    --icon-bg: #008236;
    --span-bg: #DBFCE7;
    --span-text: #016630;
}
.redis-card {
    --card-bg: #FEEAEA;
    --icon-bg: #C10007;
    --span-bg: #FFE2E2;
    --span-text: #9f0712;
}
.mysql-card {
    --card-bg: #FEFAD3;
    --icon-bg: #D08700;
    --span-bg: #FEF9C2;
    --span-text: #894b00;
}
.elasticsearch-card {
    --card-bg: #F7EFFF;
    --icon-bg: #9810FA;
    --span-bg: #F3E8FF;
    --span-text: #6e11b0;
}
.graphql-card {
    --card-bg: #E8EEFF;
    --icon-bg: #4F39F6;
    --span-bg: #E0E7FF;
    --span-text: #372aac;
}

/* ------------------------------ End Technology Section ------------------------------ */




/* ------------------------------ Start Testimonials Section ------------------------------ */
#testimonials{
    background-color: #FDF9F4;
}
#testimonials .carousel-indicators{
    bottom: -60px;
    margin-bottom: 0px;
}
#testimonials .content .carousel-indicators [data-bs-target] {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-inline: 5px;
    border: none;
    border-radius: 50%;
    background-color: #D1D5DC;
    opacity: 1;

    transition: all 0.3s ease;
}

#testimonials .content .carousel-indicators [data-bs-target]:hover {
    width: 40px;
    border-radius: 20px;
    background-color: #F3A87E;
}

#testimonials .content .carousel-indicators [data-bs-target].active{
    background-color: #EA580C;
}

#testimonials .content .carousel-inner{
    border-radius: 20px;
}
#testimonials .content .head .fa-quote-left{
    width: 60px;
    height: 60px;
    background-color: #FBEDE7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.3s;
}
#testimonials .content .head > span{
    background-color: #FBEDE7;
}

#testimonials .content .for-separator::after{
    content: "";
    width: 100%;
    height: 2px;
    display: inline-block;
    background-image: linear-gradient(to right, transparent 0%, #ccc 50%, transparent 100%);
}

#testimonials .foot .left, #testimonials .foot .right{
    width: fit-content;
}
#testimonials .foot .left .pfp{
    width: fit-content;
    height: fit-content;
}
#testimonials .foot .left .img-holder{
    width: 100px;
    height: 100px;
}
#testimonials .foot .left img{
    border-color: var(--main-color-light);
}
#testimonials .foot .left .pfp i{
    width: 25px;
    height: 25px;
    background-color: var(--main-color-light);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    bottom: -5px;
    right: -5px;
}
#testimonials .linkedin-verify{font-size: 14px;}
#testimonials .right .badge{
    background-image: linear-gradient(to right, #E8570C, #C4430D);
    background-clip: text;
    color: transparent;
}
#testimonials .item{
    background: white;
    transition: all 0.3s ease;
}
#testimonials .item:hover{
    background: linear-gradient(135deg, #FEF7F4 0%, white 50%, #FEF7F4 100%);
}
#testimonials .item:hover .head .fa-quote-left{
    transform: scale(1.1);
}
/* ------------------------------ End Testimonials Section ------------------------------ */





/* ------------------------------ Start FAQ Section ------------------------------ */
#faq .accordion-button:focus{
    box-shadow: none;
}
#faq .accordion-item{
    margin-block: 24px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: all 0.3s;
}
#faq .accordion-item:hover{
    border-color: var(--main-color-light);
}
#faq .accordion-item .accordion-button{
    background-color: transparent;
    color: var(--main-color-dark);
    font-size: 1.25rem;
    font-weight: 600;
}
#faq .accordion-item:hover .accordion-button.collapsed,
#faq .accordion-item:hover .accordion-button:not(.collapsed){
    background-color: #F9FAFB;
}


.accordion-item:first-of-type .accordion-button.collapsed{
    border-radius: 15px;
}
.accordion-item:not(:first-of-type) .accordion-button.collapsed{
    border-radius: 15px;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border-radius: 15px;
}

.accordion-item:first-of-type .accordion-button:not(.collapsed){
    border-radius: 15px 15px 0px 0px;
}
.accordion-item:not(:first-of-type) .accordion-button:not(.collapsed){
    border-radius: 15px 15px 0px 0px;
}
.accordion-item:last-of-type>.accordion-header .accordion-button:not(.collapsed){
    border-radius: 15px 15px 0px 0px;
}


.accordion-button::after {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-left: auto;
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: none;
    background-color: #F6E9E3;
    color: var(--main-color-light);
    transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion{
    --bs-accordion-border-color: none;
}
/* ------------------------------ End FAQ Section ------------------------------ */




/* ------------------------------ Start Contact Section ------------------------------ */
#contact{
    background-image: linear-gradient(135deg, #FDEEE8 0%, white 50%, #FDEEE8 100%);
}

#contact h2{
    font-size: 4.5rem;
    line-height: 4.5rem;
}
#contact .header p{
    font-size: 1.5rem;
    line-height: 40px;
}

#contact .form{
    width: 80%;
}

#contact form input,
#contact form label,
#contact form textarea,
#contact form select{
    display: block;
}

#contact input, #contact select{
    background-color: #F3F4F6;
    border: none;
    transition: all 0.3s ease-in-out;
}
#contact select option{
    background-color: white;
}
#contact .form-control:focus{
    border: 2px solid var(--main-color-light);
    box-shadow: 0 0 0 0.3rem rgba(255, 69, 0,0.1);
}
#contact .select-wrapper::after{
    display: inline-block;
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    color: #99A1AF;
    font-size: 1.25rem;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 25px;
}

#contact textarea{resize: none;}

#contact .budget-options .choice label{
    border: 2px solid #ccc;
    transition: all 0.3s;
}
#contact .budget-options .choice label:hover{
    border-color: #a2a2a2;
    cursor: pointer;
}
#contact .budget-options input:checked + label {
    border-color: var(--main-color-light);
    background-color: #FEF6F3;
}
.budget-options .choice input:checked + label strong{
    color: var(--main-color-light);
}

#contact .form textarea{
    border: none;
    background-color: #F3F4F6;
    transition: all 0.5s;
}
#terms{
    width: 20px;
}
#terms:checked{
    accent-color: var(--main-color-light);
    box-shadow: 0px 0px 0px 2px rgba(255, 69, 0,0.2);
}
#contact .privacy{
    color: var(--main-color-light);
}
#contact .privacy:hover{
    text-decoration: underline;
}

#contact .form button{
    border: none;
    padding-block: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: 700;
    color: white;
    width: 100%;
    background-image: linear-gradient(to right, #EA580C 0%, #C7440C 40%, #FA913C 100%);
    transition: all 0.3s;
}
#contact .form button:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 10px 0px rgba(255, 69, 0,0.3);
}
.contact-form-right-bg{
    background-color: #C0440B;
}

#contact .right .item i{
    width: 78px;
    height: 50px;
    background-color: #CB6B3B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .right .item p{
    font-size: 14px;
    color: #ccc;
}
#contact .right .top{
    border-bottom: 1px solid #ababab;
}
#contact .right .bottom p{
    font-size: 14px;
}


/* ------------------------------ End Contact Section ------------------------------ */
